<app-toolbar [title]="'Angular Everything'">
<ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
</ul>
</app-toolbar>

<main>    
<app-card [iconClasses]="'fa-solid fa-circle-info'" [title]="'Progress Bar'" [subTitle]="'Component'">
   <app-progress-bar body [value]="progressValue"></app-progress-bar>

   <button footer (click)="progressValue = 25;"></button>
</app-card>

<app-card [iconClasses]="'fa-solid fa-circle-info'" [title]="'Accordion'" [subTitle]="'Component'">
    <app-accordion body [items]="items" ></app-accordion>
</app-card>

<app-card [iconClasses]="'fa-solid fa-circle-info'" [title]="'Card'" [subTitle]="'Component'">
    <p footer>Footer Content</p>
    <p body>Body Content</p>
</app-card>
</main>